@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container, .header {
    background-color: #1F2937;
    padding: 12px 150px 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px 150px 0px 150px;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
}

.hero-logo {
    font-size: 24px;    
    color: #F9FAF8;
    font-weight: bold;
}

.hero-link, .hero-secondary {
    font-size: 16px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 95%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.hero-main {
    flex: 0 1 410px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-pic {
    width: 500px;

}

.signup-button {
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    padding: 6px 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 150px 100px;
    text-align: center;
}

.info-header-text {
    font-weight: 1000;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 50px;
}

.subtext-container {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 40px;
}

.subtext-image {
    width: 150px;
    font-weight: 510;
    color: rgb(135, 135, 135);
}

.blue-square {
    width: 100%;
}


.bottom-container {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 280px;

}

.quote-text {
    font-size: 32px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.sign-up-footer {
    display: flex;
    background-color: #3882F6;
    margin: 150px 200px;
    padding: 40px 100px;
    border-radius: 8px;
    justify-content: space-between;
}

.call-to-action {
    font-weight: bold;
    font-size: 22px;
    color: #F9FAF8;
}

.sign-up-text {
    color: #E5E7EB;
}

.signup-button-2 {
    background-color: #3882F6;
    border-color: #F9FAF8;
    padding: 0px 32px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    height: 34px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
