* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container, .header {
    background-color: #1F2937;
    padding: 12px 150px 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px 150px 0px 150px;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
}

.hero-logo {
    font-size: 24px;    
    color: #F9FAF8;
    font-weight: bold;
}

.hero-link, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 95%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.hero-main {
    flex: 0 1 470px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-pic {
    width: 500px;

}

.signup-button {
    width: 130px;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    padding: 6px 0px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 150px 100px;
    text-align: center;
}

.info-header-text {
    font-weight: 1000;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 50px;
}

.subtext-container {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 10px;
}

.subtext-image {
    width: 150px;
    font-weight: 510;
    color: rgb(135, 135, 135);
}

.blue-square {
    width: 100%;
}


.bottom-container {
    background-color: #E5E7EB;

}

.footer {
    background-color: #3882F6;
}
